.container-main {
  width: 100%;
  height: 100%;
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
}
.left-column {
  width: 20%;
  background-color: #dadada;
}

.right-column {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #ededed;
  padding: 20px;
  height: 91.7vh;
  overflow-y: auto;
}

.left-column-rti {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  background-color: #ededed;
  padding-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 0px;
  height: 40vh;
}

.left-column-rti-a {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  background-color: #ededed;
  padding-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 0px;
  height: 100%;
}

.right-column-rti {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  background-color: #ededed;
  padding-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 0px;
  height: 100%;
}

.right-column-rti-a {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  background-color: #ededed;
  padding-top: 0px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 0px;
  height: 40vh;
}

.middle-column-rti {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #ededed;
  padding: 20px;
  height: 20vh;
}
